body{
    background-color:#eee;
    padding-top:20px;
    padding-left:100px;
    padding-right:100px;
}

.text-centered{
    text-align:center;
}

.btn-giphs{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}

#giphy-input{
    margin-top:10px;
}

#add-giph{
    margin-top:10px;
}